.gallery-page {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color:yellow;
}

.gallery-page h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}


.gallery-grid {
  column-count: 4;
  column-gap: 15px;
}

.gallery-item {
  break-inside: avoid;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
} 
.gallery-item {
  break-inside: avoid;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
  background:black;
  padding: 10px;        
}
.gallery-item img:hover{ 
  transform:scale(1.1); 
    animation: blink 1s infinite; 
}
@media (max-width: 992px) {
  .gallery-grid {
    column-count: 3;
  }
}


@media (max-width: 768px) {
  .gallery-grid {
    column-count: 2;
  }
}


@media (max-width: 480px) {
  .gallery-grid {
    column-count: 1;
  }
}